
{% extends "layout.html" %}
{% block content %}
    <main role="main" class="inner cover text-center mt-auto">
      <img class="rounded-circle" src="static/Proj_img/Logo.png">
      <h1 class="cover-heading">we are a news page</h1>
      <p class="lead">we love news ++ our a5bar is better than a5bar al foron    .</p>
      <p class="lead">
        <a href="https://en.wikipedia.org/wiki/News" class="btn btn-lg btn-secondary">Learn more</a>
      </p>
     
    </main>
  
  {% endblock content %}